.container__contact-us {
    background-color: #dd3535;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 50px;
}
form {
    padding: 85px;
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;    
    border-radius: 1px;
    font-family: 'Roboto', sans-serif, 'arial';
}

h2 {
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 72px;
    color: white;
    text-align: center;
}

h3 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: white;
    line-height: 1.5;
}

/** inputs */
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: white;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    -moz-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

/* design for email and phone number tab */
.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

/* show each text box at full width for smaller screens */
@media only screen and (max-width: 768px){
    .styled-input, .styled-input-wide {
        width:100%;
    }
}

.styled-input label {
    color: white;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

/* design for wide textbox such as name and message portion */
.styled-input-wide { 
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #e56666;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

/** design for submit button */
.submit-btn {    
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #26244bcb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}