/** set box size for each element within HTML to its own content box */
html {
    box-sizing: content-box;
    background-color: white;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/** design for fonts and overall background */
h1, h2, h3, body {
    font-family: 'Poppins', sans-serif, 'Arial';
}

a {
    color: #dd3535;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/** design for header banner */
header { 
    width: 100%;
    height: 0%;
    padding: 0;
    border: 0 solid;
    background-size: 100%;
    background-repeat: no-repeat;    
    margin-left: auto;    
    margin-right: auto;        
}
img.banner {
    width: 100%;
    height: 100%;
}

/** design for navigation links on header */
/* Three cards side-by-side */
.cards {
    display: flex;
    justify-content: center;    
    max-width: 100%;
}

/* Display the cards below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .cards {
      width: 100%;
      display: block;
    }
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: #fafafa;
    flex: 1 1 21rem;
    align-items: center;
    margin: 10px;
    align-self: normal;
    flex-direction: column;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.5s ease;
}

.card__image {
    width: 100%;
    display: block;
}

.card__content {
    line-height: 1.5;       /* each line must be at least 1.5px away from each other for readability*/
    font-size: 0.9em;       /* makes font size 90% of card size*/
    padding: 15px;
    text-align: center;
}

/* removes margin size of first paragraph in card content to 0 */
.card__content > p:first-of-type {
    margin-top: 0;
}

/* removes margin size of last paragraph in card content to 0 */
.card__content > p:last-of-type {
    margin-bottom: 0;
}

/** adjusts "Read More" Section */
/* Centers "Read More" and sets background color and shadowing*/
.card__info {
    padding: 15px;
    text-align: center;
    background: #fafafa;
    font-size: 0.8em;
    border-bottom: 2px solid white;
}
/* designs the hover and click */
.card__link {    
    text-decoration: none;    
    color:black;
}
.card__link:hover {
    color: #dd3535;    
}

/** design for media and text side-by-side*/
.media-and-text {
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
}
.media-and-text > img {
    width: 100%;
    height: auto;
}

/** Gallery on Vending Machines Page */
.gallery {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;
  
    box-sizing: border-box;
    padding: var(--gap);
  
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
  }
  
.gallery > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* hover image upwards */
.gallery > img:hover {    
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
}
  
  /* Anything under 1024px */
  @media screen and (max-width: 1024px) {
    .gallery {
      --num-cols: 2;
      --row-height: 200px;
    }
  }

/** videos */
.video {
    position: relative;
    max-width: 100%;
    height: 0;
    padding-bottom: 50%;
}
.video > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/** design for buttons in webpage */
/* scroll to the top button */
button#top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #dd3535;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}
#top:active {
    background: #ae1e1e;
}
/* button for other links */
button.button-link {    
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    color: #555555;
    padding: 4px 10px;
    background: transparent;
}
button.button-link:hover {
    border-color: #dd3535;    
}
/* button for media files */
.DEAJButton {
	color: #fff;
    background-color: #dd3535;
    border-radius: 9999px;
    cursor: pointer;
    display: inline-block;
    font-size: 1.125em;
    padding: calc(0.667em + 2px) calc(1.333em + 2px);
    text-align: center;
    text-decoration: none;
    word-break: break-word;
    box-sizing: border-box;
}