/** set box size for each element within HTML to its own content box */
html {
    box-sizing: content-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/** design for header banner */
header { 
    width: 100%;
    height: 0%;
    padding: 0;
    border: 0 solid;
    background-size: 100%;
    background-repeat: no-repeat;    
    margin-left: auto;    
    margin-right: auto;        
}
img.banner {
    width: 100%;
    height: 100%;
}

/** design for navigation links on header */
/* Three cards side-by-side */
.cards {
    display: flex;
    justify-content: center;    
    max-width: 100%;
}

/* Display the cards below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .cards {
      width: 100%;
      display: block;
    }
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: #b0a9a9;
    flex: 1 1 21rem;
    align-items: center;
    margin: 10px;
    align-self: normal;
    flex-direction: column;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

.card__image {
    width: 100%;
    display: block;
}

.card__content {
    line-height: 1.5;       /* each line must be at least 1.5px away from each other for readability*/
    font-size: 0.9em;       /* makes font size 90% of card size*/
    padding: 15px;
    text-align: center;
}

/* removes margin size of first paragraph in card content to 0 */
.card__content > p:first-of-type {
    margin-top: 0;
}

/* removes margin size of last paragraph in card content to 0 */
.card__content > p:last-of-type {
    margin-bottom: 0;
}

/** adjusts "Read More" Section */
/* Centers "Read More" and sets background color and shadowing*/
.card__info {
    padding: 15px;
    text-align: center;
    background: #fafafa;
    font-size: 0.8em;
    border-bottom: 2px solid #ccc;
}
/* designs the hover and click */
.card__link {    
    text-decoration: none;    
    color:black;
}
.card__link:hover {
    color: #dd3535;    
}

/** design for media and text side-by-side*/
.media-column {
    float: left;
    width: 50%; /* use 25% for four, and 50% for two, etc */
    padding: 5px;
}
.media-text::after {
    content: "";
    clear: both;
    display: table;
}

/** design for buttons in webpage */
/* button for other links */
.button-link {    
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    color: #555555;
    padding: 4px 10px;
}
.button-link:hover {
    border-color: #dd3535;    
}
/* button for media files */
.DEAJButton {
	color: #fff;
    background-color: #dd3535;
    border-radius: 9999px;
    cursor: pointer;
    display: inline-block;
    font-size: 1.125em;
    padding: calc(0.667em + 2px) calc(1.333em + 2px);
    text-align: center;
    text-decoration: none;
    word-break: break-word;
    box-sizing: border-box;
}